* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: #e5ecf4;
}

.container {
    margin: 15px 10px;
}

.cards .image {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.cards {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.cards .aspas {
    position: absolute;
    right: 13%;
    opacity: 0.5;
    top: 20px;
}

.cards .image img {
    border-radius: 50%;
    margin-right: 20px;
}

.cards h4 {
    margin: 20px 0 20px;
}

.cards p,
small {
    color: #bd9aea;
    text-align: justify;
    margin-top: 10px;
}

h2 {
    color: #646567;
}

h4,
h3 {
    color: #f9fdff;
}

h5 {
    margin: 10px auto;
    color: #85868a;
}

.cards1 {
    background: #733fc8;
}

.cards2 {
    background: #49556b;
}

.cards2 p {
    color: #c4cad8;
}

.cards2 small {
    color: #8e9396;
}

.cards3 {
    background-color: #ffff;
    color: #4c5457;
}

.cards3 h3 {
    color: #646567;
}

.cards4 {
    background: #18202d;
}

.cards4 small {
    color: #8e9396;
}

.cards4 p {
    color: #6b717d;
}

.cards5 {
    background-color: #fff;
    color: #646567;
    text-align: justify;
}


@media (min-width:600px) {
    .cards .aspas {
        right: 8%;
    }
}

@media(min-width:1080px) {
    .cards .aspas {
        right: 8%;
    }

    .container {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr, 1fr, 1fr;
        margin: 3% ;
    }

    .cards1 {
        grid-column: 1 / 3;
        grid-row: 1/2;
    }

    .cards .aspas {
        left: 40%;
        margin-top: 3.5%;
    }

    .cards2 {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .cards3 {
        grid-column: 4/5;
        grid-row: 1/3;

    }

    .cards4 {
        grid-column: 2/4;
        grid-row: 2/3;
    }

    .cards5 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

}